.event {
  font-size: 13px;
  position: absolute;
  width: 90%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  margin-left: 80%;
  transform: rotate(45deg);
  cursor: pointer;
  border: none;
  border-radius: 50px;
}
